@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Calculator</h1>
    <p class="lead">Click the button below to access the calculator</p>
    <button>@Html.ActionLink("Calculator", "Index", "Control_calc")</button>
</div>

